<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List Helper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Welcome to the Shopping List Helper</h1>
        <nav>
            <ul>
                <li><a href="/pantry">Pantry</a></li>
                <li><a href="/shoppingList">Shopping List</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login">Login</a></li>
                <!--The logout button should not show up if they are not logged in-->
                <li><a href="/main">Logout</a></li>  
            </ul>
        </nav>
    <main>
        {{{ body }}}
    </main>
    <footer>
    </footer>
</body>

</html>
