<header class="title">
    <h1>Your Categories</h1>
</header>

<section class="categories container">
    <ul id="category-list">
        <li>Produce</li>
        <li>Dairy</li>
        <li>Protein</li>
        <li>Dry Goods</li>
        <li>Frozen</li>
        <li>Other</li>
    </ul>
</section>

<section class="edit-categories container">
    <form id ="category-form" class="box"> 
    <label for="name">Category Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
        <button id="add-category" type="submit">Add Category</button>
    </form>
</section>

<script src="/js/categories.js"></script>