    </div class="welcome-message">
        <h2>
            To get started:
        </h2>
        <p>
            Select the items you currently have in your inventory. Our database contains many common items, organized into categories. You can add new items at any time. For each new item you add, choose a category from the dropdown menu. You can also add new categories. 
        </p>
        <h2>
            Organizing your list into categories will make shopping a breeze! 
        </h2>
        <p>
            Create a shopping list by unchecking items in your inventory, or add items manually on the shopping list screen. After you go shopping, check off the items you have purchased, and click the button to add them back to your inventory. 
        </p>
    </div>