<div class="home-page">

  <div class="title">
    <h1>Pantry Master</h1>
  </div>

  <section class="hero-image">
    <div class="hero-content">
      <h1 class="hero-heading">Welcome!</h1>
    </div>
    <div class="hero-text">
      <p>
        Do you have trouble remembering what you already have in your pantry?
      </p>
      <p>
        Do you find yourself going in circles at the grocery store?
      </p>
      <p>
        Then this site is for you!
      </p>
    </div>
  </section>

  <section class="welcome-message container">
    <p>
      By automatically organizing your shopping list into useful categories, we
      can help you streamline your grocery store visits. You can track the items
      you already have in your pantry, and quickly add what you need to your
      shopping list. You will be able to see all the items you need to purchase
      in each section of the grocery store. No more backtracking!
    </p>
    <p>
      Our database contains several helpful categories and many common items.
      You can add new items at any time. For each new item you add, choose a
      category from the dropdown menu. You can also add new categories to
      customize your list.
    </p>
  </section>

  <section class="instructions container">
    <h2>
      To get started:
    </h2>
    <ol>
      <li>Click the Pantry button and add the items you currently have in your
        inventory.</li>
      <li>Click the Shopping List button to view your current list and add new
        items.</li>
      <li>Print out the list.</li>
    </ol>
    <p>
      Create a shopping list by unchecking items in your inventory, or add items
      manually on the shopping list screen. After you go shopping, check off the
      items you have purchased, and click the button to add them back to your
      inventory.
    </p>
  </section>

  <div id="tagline" class="container">
    <h2>
      Organizing your list into categories will make shopping a breeze!
    </h2>
  </div>

</div>