<section class="login container">

    <h2>Login</h2>

        <form class="login box" action="/api/users/login" method="POST"> <!--action="/api/users/login" method="POST"-->
            <label for="username">Username:</label>
            <input type="text" id="login-username" name="username" required>
        <br>
            <label for="password">Password:</label>
            <input type="password" id="login-password" name="password" required>
        <br>
            <button id="login-button" type="submit">Login</button>
        </form>

</section>

<section class="sign-up container">

    <h2>Create a new account</h2>

    <form class="register box" action="/api/users" method="POST"> 
        <label for"email">Enter Email: </label>
        <input type="text" id="register-email" name="email" required>
    <br>
        <label for="username">Create a username:</label>
        <input type="text" id="register-username" name="username" required>
    <br>
        <label for="password">Choose a password:</label>
        <input type="password" id="register-password" name="password" required>
    <br>
        <button id="register-button" type="submit">Submit</button>
    </form>
</section>

<section class="recoverPassword container">
    <li><a href="/profile">Recover your password</a></li>
</section>

<script src="/js/login.js"></script>
