<div class="login">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="login-username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="login-password" name="password" required>
        <br>
    <button type="submit">Login</button>
    </form>
    <h1>Create a new account</h1>
    <form>
        <label for"email" >Enter Email: </label>
        <input type="text" id="register-email" name="email" required>
        <br>
                <label for="username">Create a username:</label>
        <input type="text" id="register-username" name="username" required>
        <br>
        <label for="password">Choose a password:</label>
        <input type="password" id="register-password" name="password" required>
    </form>
</div>
