<header class="title">
    <h1>Your Pantry</h1>
</header>

<section id="pantry-container" class="pantry container">

    <div>
    <h2>Produce</h2>
    <ul id="produce-inventory" class="pantry-items"></ul>
    </div>

    <div>
    <h2>Dairy</h2>
    <ul id="dairy-inventory" class="pantry-items"></ul>
    </div>

    <div>
    <h2>Protein</h2>
    <ul id="protein-inventory" class="pantry-items"></ul>
    </div>

    <div>
    <h2>Dry Goods</h2>
    <ul id="dry-inventory" class="pantry-items"></ul>
    </div>

    <div>
    <h2>Frozen</h2>
    <ul id="frozen-inventory" class="pantry-items"></ul>
    </div>

    <div>
    <h2>Other</h2>
    <ul id="other-inventory" class="pantry-items"></ul>
    </div> 

</section>

<section class="remove-items container">
    <button id="remove-checked-items">Remove Checked Items</button>
</section>

<section class="add-items container">
    <form id="pantry-form" class="box">
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="">Choose category</option> <!-- Default option -->
        <option value="produce">Produce</option>
        <option value="dairy">Dairy</option>
        <option value="protein">Protein</option>
        <option value="dry">Dry</option>
        <option value="frozen">Frozen</option>
        <option value="other">Other</option>
    </select>
    <br>
        <button type="submit">Add to Shopping List</button>
    </form>
    
</section>

<script src="/js/pantry.js"></script>