<header>
    <h1>Your Profile</h1>
</header>

<div class="user-profile"> 
    <ul class="user-data">
        <li>
            Username: 
        </li>
        <li>
            Email: 
        </li>
    </ul>
</div>

<div class="user-changes">
        <form>
        <label for"email" >Change Email: </label>
        <input type="text" id="change-email" name="email" required>
        <br>
                <label for="username">Change username:</label>
        <input type="text" id="change-username" name="username" required>
        <br>
        <label for="password">Change password:</label>
        <input type="password" id="change-password" name="password" required>
    </form>
</div>