<header class="title">
    <h1>Your Profile</h1>
</header>

<section class="box user-profile"> 
    <ul class="user-data">
        <li>
            Username: 
        </li>
        <li>
            Email: 
        </li>
    </ul>
</section>

<section class="box user-changes" action="/api/users/:{{user.id}}" method="PUT">
        <form>
        <label for"email" >Change Email: </label>
        <input type="text" id="change-email" name="email" required>
        <br>
        <label for="username">Change username:</label>
        <input type="text" id="change-username" name="username" required>
        <br>
        <label for="password">Change password:</label>
        <input type="password" id="change-password" name="password" required>
        <br>
        <button id="update-button" type="submit">Update</button>
    </form>
</section>