<section class="container">
    <h1>
        Trouble accessing your account?
    </h1>
    <h3>Enter your email adress and we'll send you a password reset link.</h3>

    <label for"email" >Change Email: </label>
        <input type="text" id="reset-email" name="email" required>
    </form>
</section>