<header class="title">
    <h1>Your Shopping List</h1>
</header>

<section id="shopping-container" class="container">

    <div>
    <h2>Produce</h2>
    <ul id="produce-list" class="shopping-items"></ul>
    </div>

    <div>
    <h2>Dairy</h2>
    <ul id="dairy-list" class="shopping-items"></ul>
    </div>

    <div>
    <h2>Protein</h2>
    <ul id="protein-list" class="shopping-items"></ul>
    </div>

    <div>
    <h2>Dry Goods</h2>
    <ul id="dry-list" class="shopping-items"></ul>
    </div>

    <div>
    <h2>Frozen</h2>
    <ul id="frozen-list" class="shopping-items"></ul>
    </div>

    <div>
    <h2>Other</h2>
    <ul id="other-list" class="shopping-items"></ul>
    </div>

</section>

<section class="add-items container">
    <form id="shopping-list-form" class="box"> 
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="">Choose category</option> <!-- Default option -->
        <option value="produce">Produce</option>
        <option value="dairy">Dairy</option>
        <option value="protein">Protein</option>
        <option value="dry">Dry</option>
        <option value="frozen">Frozen</option>
        <option value="other">Other</option>
    </select>
    <br>
        <button type="submit">Add to Shopping List</button>
    </form>

</section>

<script src="/js/shoppingList.js"></script>