<header class="title">
    <h1>Your Shopping List</h1>
</header>

<section id="shopping-list" class="container">

    <div class="produce">
    <h2>Produce</h2>
    <ul id="produce-list"></ul>
    </div>

    <div class="produce">
    <h2>Dairy</h2>
    <ul class="dairy-list"></ul>
    </div>

    <div class="protein">
    <h2>Protein</h2>
    <ul id="protein-list"></ul>
    </div>

    <div class="dry">
    <h2>Dry Goods</h2>
    <ul id="dry-list"></ul>
    </div>

    <div class="frozen">
    <h2>Frozen</h2>
    <ul id="frozen-list"></ul>
    </div>

    <div class="other">
    <h2>Other</h2>
    <ul id="other-list"></ul>
    </div>

</section>

<section class="add-items container">
    <form id="shopping-list-form" class="box"> 
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="">Choose category</option> <!-- Default option -->
        <option value="produce">Produce</option>
        <option value="dairy">Dairy</option>
        <option value="protein">Protein</option>
        <option value="dry">Dry</option>
        <option value="frozen">Frozen</option>
        <option value="other">Other</option>
    </select>
    <br>
        <button type="submit">Add to Shopping List</button>
    </form>
    <!-- TO DO: ADD NUMBER OF ITEMS NEEDED 
    <br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" required>
    <br>
    <button type="submit">Add to Shopping List</button>
    </form>
    -->
</section>

<script src="/js/shoppingList.js"></script>